$panelBackground: #f4f4f4;
$headerBackground: #273f4f;
$sidebarBackground: #273f4f;
$headerText: #bdc3c7;
$sidebarText: #bdc3c7;
$heading: #447d9b;
$text: #000000;
$danger: #b9375d;
$success: #03a6a1;
$info: #4da8da;
$warning: #f7ad45;
$active: #43546d;
$primary: #fe7743;
