@use "./_colors.scss" as colors;

.layout {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.no-resize {
    resize: none;
}

.editor-container {
    border: 1px solid colors.$border;
    border-radius: 0.375rem;
}

.cursor-pointer {
  cursor: pointer;
}

.label-xs {
  font-size: 13px;
  letter-spacing: 0.5px;
}
